<p id="notice"><%= notice %></p>


<h1><%= @event.name %></h1>
<h3>Le <%= @event.date %></h3>

<p id="event_description" class='twipsies well'>
  <%= @event.description.gsub(/\n/, "<br/>").html_safe %>
</p>

<p>
<% if can? :signup_project, @event %>
<a href="<%= url_for new_event_project_path(@event) %>" class='btn xlarge success' style="diplay : block;backgound-image:src('http://seednetworking.heroku.com/images/projets.png'); width:400px; height : 250px">Porteurs de pojet, Inscrivez vous !</a>
<% end %><% if can? :signup_self, @event %>
<a href="<%= url_for new_event_participation_path(@event) %>" class='btn xlarge success' style="diplay : block;backgound-image:src('http://seednetworking.heroku.com/images/competences.png');  width:400px; height : 250px">Porteurs de competances, Inscrivez vous!</a>
<%end%>
</p>

<h2>Liste des projets inscrits:</h2>
<% @event.projects.each do |p| %>
  <hr/>
  <div>
    <h3><%= p.name %></h3>
    <p>
      <%= p.description.gsub(/\n/,"<br/>").html_safe %>
    </p>
    <%= link_to "Voir plus", event_project_path(@event, p) %>
  </div>
<% end %>