<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <%= link_to "Nouveau projet", new_event_project_path(@event) %>
</p>