<%= form_for([@event, @project]) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
    <td width="100px" vertical-align="top"><%= f.label :name, "Nom du projet" %></td>
    <td><%= f.text_field :name %></td>
    <td></td>
  </tr>
  <tr>
    <td><%= f.label :description %></td>
    <td><%= f.text_area :description, size: "30x15" , style:"width:400px"%></td>
    <td>
      <p>
        Décrivez votre projet de manière synthétique, en détaillant clairement:<br/> votre idée, les profils clés de l'équipe, l'état d'avancement du projet, ce que vous attendez du profil que vous recherchez, et ce que vous êtes prêt à lui proposer.
      </p>
    </td>
  </tr>
  <tr>
    <td width="100px" vertical-align="top"><%= f.label :website, "Site" %></td>
    <td><%= f.text_field :website %></td>
    <td></td>
  </tr>
  <tr>
    <td width="100px" vertical-align="top"><%= f.label :seeking, "Je cherche" %></td>
    <td><%= f.text_field :seeking %></td>
    <td>.. un associé ou un stagiaire ?</td>
  </tr>
  <tr><td></td>
    <td><%= f.submit %></td><td></td>
  </tr>
</table>

<% end %>
