<%= form_for([@event, @project]) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
    <td width="100px" vertical-align="top"><%= f.label :name, t("seednetworking.new_project.name") %></td>
    <td><%= f.text_field :name %></td>
    <td></td>
  </tr>
  <tr>
    <td><%= f.label :description, t("seednetworking.new_project.description") %></td>
    <td><%= f.text_area :description, size: "30x15" , style:"width:400px"%></td>
    <td>
    </td>
  </tr>
  <tr>
    <td width="100px" vertical-align="top"><%= f.label :website, t("seednetworking.new_project.site") %></td>
    <td><%= f.url_field :website %></td>
    <td></td>
  </tr>
  <tr>
    <td width="100px" vertical-align="top"><%=t("seednetworking.new_project.seeking")%></td>
    <td>
      <% Project::SEEKING_OPTIONS.each do |k,v| %>
        <%= f.label(("seeking_"+k).to_sym, t("seednetworking.project.seeking_options."+k))%><%= f.radio_button(:seeking, k)%><br/>
      <% end %>
      <%= label_tag "seeking_other", t("seednetworking.project.seeking_options.other") %>
      <%= text_field_tag :seeking_other %>
    </td>
    <td></td>
  </tr>
  <tr><td></td>
    <td><%= f.submit %></td><td></td>
  </tr>
</table>

<% end %>
