<p id="notice"><%= notice %></p>

<p><%= link_to "Retour à la liste des projets", event_path(@event) %></p>

  <h2><%= @project.name %></h2>
<p>Porté par <%= @project.user.first_name %> <%= @project.user.last_name %></p>
<h3>Le projet</h3>
<% if @project.likes.any? %>
<h4><%= @project.likes.size %> personnes se sont déclarées intéressées par ce projet</h4>
<% end %>
<p>
  <%= @project.description.gsub(/\n/,"<br/>").html_safe %>
</p>

<p>
  <b>Recherche:</b>
  <%= @project.seeking %>
</p>

<p>
  <b>Site web:</b>
  <%= @project.website %>
</p>

<% if can? :vote, @project %>
  <a href='<%= event_project_path(@event, @project)%>/interested' data-method="post" rel='nofollow'> Je suis intéressé par ce projet</a>
<% end %>

<% if can? :edit, @project %>
  <%= link_to "Editez", edit_event_project_path(@event, @project)%>
<% end %>
  