<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Seeking:</b>
  <%= @project.seeking %>
</p>

<p>
  <b>Website:</b>
  <%= @project.website %>
</p>

