<p id="notice"><%= notice %></p>

<%= link_to "Retour à la liste des projets", event_path(@event) %>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description.gsub(/\n/,"<br/>").html_safe %>
</p>

<p>
  <b>Seeking:</b>
  <%= @project.seeking %>
</p>

<p>
  <b>Website:</b>
  <%= @project.website %>
</p>

<p>
  <b>Porteur</b>
  <%= @project.user.first_name %> <%= @project.user.last_name %>
</p>
  