<h2>Inscrivez vous !</h2>
<h3>Il faut être inscrit pour participer au seednetworking</h3>

<%= render 'devise/registrations/form' %>

<h2>Déja Inscrit ?</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <table>
    <tr>
      <td width="100px"><%= f.label :email %></td>
      <td><%= f.email_field :email %></td>
      <td></td>
    </tr>
    <tr>
      <td><%= f.label :password %></td>
      <td><%= f.password_field :password %></td>
      <td></td>
    </tr>
    <tr>
      <td><%= f.label :remember_me %></td>
      <td><%= f.check_box :remember_me %></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "Sign in" %></td>
      <td></td>
    </tr>
  </table>
<% end %>

<%= render :partial => "devise/shared/links" %>