<!DOCTYPE html>
<html>
<head>
  <title>Seednetworking</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="header" style='backround-color : #0f1209'>
  <div class="container" style='backround-color : #0f1209'>
  <a href='/'><img src="/images/logo.png"/></a>
</div>
</div>
<div id="main" class="container" style='width : 780px !important'>
  <div class="row">
  <div class="span4 columns offset12">
  <% if user_signed_in? %>
  Enregistré en tant que: <%= link_to(current_user.first_name, edit_user_registration_path) %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>  
    </li>
  <% end %>
  </div>
  </div>
<%= yield %>
<hr/>
</div>
</body>
</html>
